* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#addNameWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: lightseagreen;
}

.participantsWrapper {
    width: 200px;
    height: 300px;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid;
    overflow-y: auto;
}

#addNameWrapper * {margin: 15px 0;}
.addNameBtn {padding: 10px; border: 1px solid black; cursor: pointer;}
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; cursor: pointer; }
#messages { width: 80vw; list-style-type: none; margin: 20px 0 0 0; padding: 0; border-top: 1px solid black;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.nameTag {color: orangered; font-weight: bold;}
